/* .container{
    border: 1px solid black;
    border-radius: 15px;
     width: 30%;
}
.container a{
    color: red;
    text-decoration: none;
    cursor: not-allowed;
    border: 1px solid red;
    display: block;
}
.container a:hover{
    color: rgb(238, 227, 227);
    background-color: rgb(184, 9, 9);
}
.container ul{
    list-style-type: none;
     border: 1px solid black; 
     padding: 10px 30px; 

}
.container ul li{
    border: 1px solid rgb(255, 153, 51);
    margin: 10px;
    text-align: center;
    border-top:1px solid black;
}
.ul li:first-child{
    background-color: aqua;
} */

body {
    font-family: Georgia, serif;
}

.links-box {
    /* width: 50%; */
    border: 1px solid #aaa;
    border-radius: 20px;
    overflow: hidden;
    text-align: center;
}

.links-box h1 {
    margin: 0;
    padding: 25px;
    font-size: 32px;
    background-color: aqua;
    border-bottom: 1px solid #aaa;
}

.links-box a {
    display: block;
    padding: 25px;
    text-decoration: none;
    color: #555;
    font-size: 24px;
    border-bottom: 1px solid #aaa;
}

.links-box a:last-child {
    border-bottom: none;
}

.links-box a:hover {
    background-color: #9a242d;
    color: white;
}