/* *{
    background-color: rgb(0, 0, 0);
}
.container{
    width: 400px;
    height:200px ;
    border: 2px dashed rebeccapurple;
    margin: 20px;
    padding: 30px;
    border-radius: 50%;

}
.container h1{
    color: rgb(10, 10, 200);
    text-align: center;

}
h1,p{
    color: darkolivegreen;
} */
 *{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

 }
html{
    font-size: 10px;
}
.container{
    background-color: beige;
    width: 80%;
    /* height: 600px; */
    padding: 20px;
    margin: 20px auto;
    border: 2px solid black;
    border-radius: 10px 0 10px 0;
}
.box{
    background-color: crimson;
    width: 400px;
    border: 2px solid black;
    
    box-sizing: border-box;
}
.container p{
    font-size: 2rem;
    line-height: 2rem;
    font-family: 'Courier New', Courier, monospace;
}
.green{
    background-color: rgb(255, 153, 51);
    color: white;
    height: 100px;
    width: 100px;
    /* display: block; */
    /* visibility: hidden; */
    
}